body {
    text-align: center;
    display: flex;
    justify-content: center;
}
#gameBox {
    justify-content: center;
    background-color: blue;
    width: 600px;
    height: 600px;
    position: relative;
    
}
.box {
    position: absolute;
    border-color: black;
    border: 3px;
    border-style: solid; 
    height: 193px;
    width: 193px;
    text-align: center;
    font-size: 200px;
}

#topL {
    top: 0px;
    left: 0px;
}
#topM {
    top: 0px;
    left: 200px;
}
#topR {
    top: 0px;
    left: 400px;
}

#midL {
    top: 200px;
    left: 0px;
}
#midM {
    top: 200px;
    left: 200px;
}
#midR {
    top: 200px;
    left: 400px;
}

#bottomL {
    top: 400px;
    left: 0px;
}
#bottomM {
    top: 400px;
    left: 200px;
}
#bottomR {
    top: 400px;
    left: 400px;
}
#reset {
   width: 200px;
}